body {
  font-family: Arial;
  background: #1e1e1e;
  color: white;
  text-align: center;
}

h1 {
  margin: 10px;
}

.editor {
  display: flex;
  gap: 10px;
  padding: 10px;
}

textarea {
  border-radius: 8px;
  width: 33%;
  height: 200px;
  background: #2d2d2d;
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
}

iframe {
  width: 95%;
  height: 300px;
  margin: 10px;
  background: white;
}